# Secure defaults
Protocol 2
PermitEmptyPasswords no
PermitRootLogin no

AllowGroups lliurex

UseDNS no

RSAAuthentication yes
PubkeyAuthentication yes

AuthorizedKeysFile /etc/ssh/.ssh.%u.authorized_keys

# Limited access
X11Forwarding no
AllowTcpForwarding yes

# Force sftp and chroot jail
Subsystem sftp internal-sftp
#ForceCommand internal-sftp
#ChrootDirectory %h

# Enable this for more logs
#LogLevel VERBOSE
